on: [push]
name: test and build
jobs:
  editorconfig_lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: eclint-action
        uses: greut/eclint-action@v0
  go-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17.x
      - name: go test
        run: go test -v ./...
  core-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: core test
        uses: ./.github/actions/core-test
